In [20]:
import pandas as pd

In [21]:
r_cols =['user_id', 'movie_id', 'rating']

In [24]:
pd_data = pd.read_csv('ml-100k/ml-100k/u.data',sep='\t', names=r_cols,usecols=range(3))

In [25]:
pd_data.head()

   user_id  movie_id  rating
0      196       242       3
1      186       302       3
2       22       377       1
3      244        51       2
4      166       346       1

###we'll group everything by movie ID, and compute the total number of ratings

###(each movie's popularity) and the average rating for every movie

In [26]:
import numpy as np

In [27]:
group_by_movie = pd_data.groupby('movie_id').agg({'rating':[np.size,np.mean]})

In [28]:
group_by_movie.head(5)

         rating
           size      mean
movie_id
1           452  3.878319
2           131  3.206107
3            90  3.033333
4           209  3.550239
5            86  3.302326

In [29]:
new_dataframe = pd.DataFrame(group_by_movie['rating']['size'])

In [31]:
new_dataframe.head()

          size
movie_id
1          452
2          131
3           90
4          209
5           86

In [33]:
movieNormalizedNumRatings = new_dataframe.apply(lambda x : (x-np.min(x))/np.max(x)-np.min(x))

In [34]:
movieNormalizedNumRatings.head()

              size
movie_id
1        -0.226415
2        -0.777015
3        -0.847341
4        -0.643225
5        -0.854202