### Item-based Collabrative Fitering

In [1]:
import pandas as pd

In [2]:
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('ml-100k/ml-100k/u.data', sep='\t', names=r_cols, usecols=range(3), encoding="ISO-8859-1")

m_cols = ['movie_id', 'title']
movies = pd.read_csv('ml-100k/ml-100k/u.item', sep='|', names=m_cols, usecols=range(2), encoding="ISO-8859-1")

ratings = pd.merge(movies, ratings)

ratings.head()

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3

In [4]:
#### pivot the table to construct a nice matrix of users and the movies they rated. NaN indicates missing data, or movies that a given user did not watch.

In [5]:
userRatings = ratings.pivot_table(index=['user_id'],columns=['title'],values='rating')

In [6]:
userRatings.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN

#### pandas has a built-in corr() method that will compute a correlation score for every column pair in the matrix! This gives us a correlation score between every pair of movies (where at least one user rated both movies - otherwise NaN's will show up.

In [7]:
corrMatrix = userRatings.corr()

In [8]:
corrMatrix.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),1.0,NaN,-1.000000,-0.500000,-0.500000,0.522233,NaN,-0.426401,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,1.0,NaN,NaN,NaN,NaN,NaN,-0.981981,NaN,NaN,...,NaN,NaN,NaN,-0.944911,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),-1.0,NaN,1.000000,-0.049890,0.269191,0.048973,0.266928,-0.043407,NaN,0.111111,...,NaN,-1.000000,NaN,0.158840,0.119234,0.680414,0.000000,0.707107,NaN,NaN
12 Angry Men (1957),-0.5,NaN,-0.049890,1.000000,0.666667,0.256625,0.274772,0.178848,NaN,0.457176,...,NaN,NaN,NaN,0.096546,0.068944,-0.361961,0.144338,1.000000,1.0,NaN
187 (1997),-0.5,NaN,0.269191,0.666667,1.000000,0.596644,NaN,-0.554700,NaN,1.000000,...,NaN,0.866025,NaN,0.455233,-0.500000,0.500000,0.475327,NaN,NaN,NaN

####  movies that lots of people rated together - and also give us more popular results that are more easily recongnizable - we'll use the min_periods argument to throw out results where fewer than 100 users rated a given movie pair:

In [9]:
corrMatrix = userRatings.corr(method='pearson', min_periods=100)

In [10]:
corrMatrix.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12 Angry Men (1957),NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187 (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
myRatings = userRatings.iloc[0].dropna()

In [77]:
myRatings

title
101 Dalmatians (1996)                                      2.0
12 Angry Men (1957)                                        5.0
20,000 Leagues Under the Sea (1954)                        3.0
2001: A Space Odyssey (1968)                               4.0
Abyss, The (1989)                                          3.0
Ace Ventura: Pet Detective (1994)                          3.0
Air Bud (1997)                                             1.0
Akira (1988)                                               4.0
Aladdin (1992)                                             4.0
Alien (1979)                                               5.0
Aliens (1986)                                              5.0
All Dogs Go to Heaven 2 (1996)                             1.0
Amadeus (1984)                                             5.0
Angels and Insects (1995)                                  4.0
Antonia's Line (1995)                                      5.0
Apocalypse Now (1979)                                      3.0
Apollo 13 (1995)                                           4.0
Aristocats, The (1970)                                     2.0
Army of Darkness (1993)                                    4.0
Austin Powers: International Man of Mystery (1997)         4.0
Babe (1995)                                                1.0
Back to the Future (1985)                                  5.0
Bad Boys (1995)                                            2.0
Basic Instinct (1992)                                      3.0
Batman & Robin (1997)                                      1.0
Batman Forever (1995)                                      1.0
Batman Returns (1992)                                      1.0
Beavis and Butt-head Do America (1996)                     3.0
Bedknobs and Broomsticks (1971)                            2.0
Belle de jour (1967)                                       3.0
                                                          ...
Three Colors: Blue (1993)                                  5.0
Three Colors: Red (1994)                                   5.0
Three Colors: White (1994)                                 4.0
To Wong Foo, Thanks for Everything! Julie Newmar (1995)    3.0
Top Gun (1986)                                             4.0
Toy Story (1995)                                           5.0
True Romance (1993)                                        3.0
Truth About Cats & Dogs, The (1996)                        5.0
Turbo: A Power Rangers Movie (1997)                        1.0
Twelve Monkeys (1995)                                      4.0
Twister (1996)                                             3.0
Unbearable Lightness of Being, The (1988)                  4.0
Under Siege (1992)                                         2.0
Unforgiven (1992)                                          4.0
Unhook the Stars (1996)                                    4.0
Usual Suspects, The (1995)                                 5.0
Wallace & Gromit: The Best of Aardman Animation (1996)     5.0
Weekend at Bernie's (1989)                                 3.0
Welcome to the Dollhouse (1995)                            5.0
What's Eating Gilbert Grape (1993)                         4.0
When Harry Met Sally... (1989)                             5.0
When the Cats Away (Chacun cherche son chat) (1996)        4.0
While You Were Sleeping (1995)                             4.0
White Balloon, The (1995)                                  4.0
Willy Wonka and the Chocolate Factory (1971)               4.0
Wizard of Oz, The (1939)                                   4.0
Wrong Trousers, The (1993)                                 5.0
Young Frankenstein (1974)                                  5.0
Young Guns (1988)                                          3.0
unknown                                                    4.0
Name: 1, Length: 271, dtype: float64

In [78]:
simCandidates = pd.Series()
for i in range(0, len(myRatings.index)):
    print ("Adding sims for " + myRatings.index[i] + "...")
    # Retrieve similar movies to this one that I rated
    sims = corrMatrix[myRatings.index[i]].dropna()
    # Now scale its similarity by how well I rated this movie
    sims = sims.map(lambda x: x * myRatings[i])
    # Add the score to the list of similarity candidates
    simCandidates = simCandidates.append(sims)
    
#Glance at our results so far:
print ("sorting...")
simCandidates.sort_values(inplace = True, ascending = False)
print (simCandidates.head(10))

Adding sims for 101 Dalmatians (1996)...
Adding sims for 12 Angry Men (1957)...
Adding sims for 20,000 Leagues Under the Sea (1954)...
Adding sims for 2001: A Space Odyssey (1968)...
Adding sims for Abyss, The (1989)...
Adding sims for Ace Ventura: Pet Detective (1994)...
Adding sims for Air Bud (1997)...
Adding sims for Akira (1988)...
Adding sims for Aladdin (1992)...
Adding sims for Alien (1979)...
Adding sims for Aliens (1986)...
Adding sims for All Dogs Go to Heaven 2 (1996)...
Adding sims for Amadeus (1984)...
Adding sims for Angels and Insects (1995)...
Adding sims for Antonia's Line (1995)...
Adding sims for Apocalypse Now (1979)...
Adding sims for Apollo 13 (1995)...
Adding sims for Aristocats, The (1970)...
Adding sims for Army of Darkness (1993)...
Adding sims for Austin Powers: International Man of Mystery (1997)...
Adding sims for Babe (1995)...
Adding sims for Back to the Future (1985)...
Adding sims for Bad Boys (1995)...
Adding sims for Basic Instinct (1992)...
Adding sims for Batman & Robin (1997)...
Adding sims for Batman Forever (1995)...
Adding sims for Batman Returns (1992)...
Adding sims for Beavis and Butt-head Do America (1996)...
Adding sims for Bedknobs and Broomsticks (1971)...
Adding sims for Belle de jour (1967)...
Adding sims for Big Night (1996)...
Adding sims for Billy Madison (1995)...
Adding sims for Birdcage, The (1996)...
Adding sims for Blade Runner (1982)...
Adding sims for Blues Brothers, The (1980)...
Adding sims for Bound (1996)...
Adding sims for Bram Stoker's Dracula (1992)...
Adding sims for Braveheart (1995)...
Adding sims for Brazil (1985)...
Adding sims for Breakfast at Tiffany's (1961)...
Adding sims for Breaking the Waves (1996)...
Adding sims for Bridge on the River Kwai, The (1957)...
Adding sims for Brother Minister: The Assassination of Malcolm X (1994)...
Adding sims for Brothers McMullen, The (1995)...
Adding sims for Cable Guy, The (1996)...
Adding sims for Cape Fear (1991)...
Adding sims for Carlito's Way (1993)...
Adding sims for Chasing Amy (1997)...
Adding sims for Cinema Paradiso (1988)...
Adding sims for Citizen Kane (1941)...
Adding sims for Citizen Ruth (1996)...
Adding sims for Clerks (1994)...
Adding sims for Clockwork Orange, A (1971)...
Adding sims for Cold Comfort Farm (1995)...
Adding sims for Contact (1997)...
Adding sims for Copycat (1995)...
Adding sims for Crimson Tide (1995)...
Adding sims for Crow, The (1994)...
Adding sims for Crumb (1994)...
Adding sims for Cyrano de Bergerac (1990)...
Adding sims for D3: The Mighty Ducks (1996)...
Adding sims for Dances with Wolves (1990)...
Adding sims for Dead Man Walking (1995)...
Adding sims for Dead Poets Society (1989)...
Adding sims for Delicatessen (1991)...
Adding sims for Desperado (1995)...
Adding sims for Devil's Own, The (1997)...
Adding sims for Diabolique (1996)...
Adding sims for Die Hard (1988)...
Adding sims for Die Hard 2 (1990)...
Adding sims for Dirty Dancing (1987)...
Adding sims for Disclosure (1994)...
Adding sims for Dolores Claiborne (1994)...
Adding sims for Doom Generation, The (1995)...
Adding sims for Eat Drink Man Woman (1994)...
Adding sims for Ed Wood (1994)...
Adding sims for Empire Strikes Back, The (1980)...
Adding sims for Event Horizon (1997)...
Adding sims for Evil Dead II (1987)...
Adding sims for Exotica (1994)...
Adding sims for Fargo (1996)...
Adding sims for Faster Pussycat! Kill! Kill! (1965)...
Adding sims for Field of Dreams (1989)...
Adding sims for Fifth Element, The (1997)...
Adding sims for Firm, The (1993)...
Adding sims for Fish Called Wanda, A (1988)...
Adding sims for Flipper (1996)...
Adding sims for Forrest Gump (1994)...
Adding sims for Four Rooms (1995)...
Adding sims for Four Weddings and a Funeral (1994)...
Adding sims for Free Willy (1993)...
Adding sims for Free Willy 2: The Adventure Home (1995)...
Adding sims for French Twist (Gazon maudit) (1995)...
Adding sims for Frighteners, The (1996)...
Adding sims for From Dusk Till Dawn (1996)...
Adding sims for Fugitive, The (1993)...
Adding sims for Full Metal Jacket (1987)...
Adding sims for Full Monty, The (1997)...
Adding sims for Gattaca (1997)...
Adding sims for George of the Jungle (1997)...
Adding sims for Get Shorty (1995)...
Adding sims for Ghost and the Darkness, The (1996)...
Adding sims for Glengarry Glen Ross (1992)...
Adding sims for Godfather, The (1972)...
Adding sims for Godfather: Part II, The (1974)...
Adding sims for GoldenEye (1995)...
Adding sims for Gone with the Wind (1939)...
Adding sims for Good Will Hunting (1997)...
Adding sims for Good, The Bad and The Ugly, The (1966)...
Adding sims for GoodFellas (1990)...
Adding sims for Graduate, The (1967)...
Adding sims for Grand Day Out, A (1992)...
Adding sims for Grosse Pointe Blank (1997)...
Adding sims for Groundhog Day (1993)...
Adding sims for Haunted World of Edward D. Wood Jr., The (1995)...
Adding sims for Heavy Metal (1981)...
Adding sims for Henry V (1989)...
Adding sims for Home Alone (1990)...
Adding sims for Homeward Bound: The Incredible Journey (1993)...
Adding sims for Hoop Dreams (1994)...
Adding sims for Horseman on the Roof, The (Hussard sur le toit, Le) (1995)...
Adding sims for Hot Shots! Part Deux (1993)...
Adding sims for Hudsucker Proxy, The (1994)...
Adding sims for Hunt for Red October, The (1990)...
Adding sims for I.Q. (1994)...
Adding sims for In the Company of Men (1997)...
Adding sims for Independence Day (ID4) (1996)...
Adding sims for Indiana Jones and the Last Crusade (1989)...
Adding sims for Jaws (1975)...
Adding sims for Jean de Florette (1986)...
Adding sims for Jerry Maguire (1996)...
Adding sims for Jude (1996)...
Adding sims for Jungle2Jungle (1997)...
Adding sims for Jurassic Park (1993)...
Adding sims for Kansas City (1996)...
Adding sims for Kids in the Hall: Brain Candy (1996)...
Adding sims for Kolya (1996)...
Adding sims for Kull the Conqueror (1997)...
Adding sims for Last of the Mohicans, The (1992)...
Adding sims for Lawnmower Man, The (1992)...
Adding sims for Legends of the Fall (1994)...
Adding sims for Lion King, The (1994)...
Adding sims for Lone Star (1996)...
Adding sims for Long Kiss Goodnight, The (1996)...
Adding sims for Lost World: Jurassic Park, The (1997)...
Adding sims for Love Bug, The (1969)...
Adding sims for M*A*S*H (1970)...
Adding sims for Mad Love (1995)...
Adding sims for Madness of King George, The (1994)...
Adding sims for Manon of the Spring (Manon des sources) (1986)...
Adding sims for Mars Attacks! (1996)...
Adding sims for Mask, The (1994)...
Adding sims for Maverick (1994)...
Adding sims for Maya Lin: A Strong Clear Vision (1994)...
Adding sims for Men in Black (1997)...
Adding sims for Mighty Aphrodite (1995)...
Adding sims for Mimic (1997)...
Adding sims for Mirror Has Two Faces, The (1996)...
Adding sims for Moll Flanders (1996)...
Adding sims for Monty Python and the Holy Grail (1974)...
Adding sims for Monty Python's Life of Brian (1979)...
Adding sims for Mr. Holland's Opus (1995)...
Adding sims for Mr. Smith Goes to Washington (1939)...
Adding sims for Much Ado About Nothing (1993)...
Adding sims for Muppet Treasure Island (1996)...
Adding sims for My Best Friend's Wedding (1997)...
Adding sims for Mystery Science Theater 3000: The Movie (1996)...
Adding sims for Nadja (1994)...
Adding sims for Natural Born Killers (1994)...
Adding sims for Net, The (1995)...
Adding sims for Nightmare Before Christmas, The (1993)...
Adding sims for Nightmare on Elm Street, A (1984)...
Adding sims for Nikita (La Femme Nikita) (1990)...
Adding sims for On Golden Pond (1981)...
Adding sims for Operation Dumbo Drop (1995)...
Adding sims for Outbreak (1995)...
Adding sims for Patton (1970)...
Adding sims for Phenomenon (1996)...
Adding sims for Pillow Book, The (1995)...
Adding sims for Pink Floyd - The Wall (1982)...
Adding sims for Platoon (1986)...
Adding sims for Postino, Il (1994)...
Adding sims for Priest (1994)...
Adding sims for Princess Bride, The (1987)...
Adding sims for Private Benjamin (1980)...
Adding sims for Professional, The (1994)...
Adding sims for Psycho (1960)...
Adding sims for Pulp Fiction (1994)...
Adding sims for Quiz Show (1994)...
Adding sims for Raging Bull (1980)...
Adding sims for Raiders of the Lost Ark (1981)...
Adding sims for Raising Arizona (1987)...
Adding sims for Ref, The (1994)...
Adding sims for Remains of the Day, The (1993)...
Adding sims for Reservoir Dogs (1992)...
Adding sims for Return of the Jedi (1983)...
Adding sims for Return of the Pink Panther, The (1974)...
Adding sims for Richard III (1995)...
Adding sims for Ridicule (1996)...
Adding sims for Right Stuff, The (1983)...
Adding sims for Robert A. Heinlein's The Puppet Masters (1994)...
Adding sims for Rock, The (1996)...
Adding sims for Room with a View, A (1986)...
Adding sims for Rumble in the Bronx (1995)...
Adding sims for Santa Clause, The (1994)...
Adding sims for Searching for Bobby Fischer (1993)...
Adding sims for Seven (Se7en) (1995)...
Adding sims for Sgt. Bilko (1996)...
Adding sims for Shall We Dance? (1996)...
Adding sims for Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)...
Adding sims for Shawshank Redemption, The (1994)...
Adding sims for Shining, The (1980)...
Adding sims for Silence of the Lambs, The (1991)...
Adding sims for Sleeper (1973)...
Adding sims for Sleepless in Seattle (1993)...
Adding sims for Sling Blade (1996)...
Adding sims for Smilla's Sense of Snow (1997)...
Adding sims for Sneakers (1992)...
Adding sims for Snow White and the Seven Dwarfs (1937)...
Adding sims for So I Married an Axe Murderer (1993)...
Adding sims for Sound of Music, The (1965)...
Adding sims for Spitfire Grill, The (1996)...
Adding sims for Star Trek III: The Search for Spock (1984)...
Adding sims for Star Trek IV: The Voyage Home (1986)...
Adding sims for Star Trek VI: The Undiscovered Country (1991)...
Adding sims for Star Trek: First Contact (1996)...
Adding sims for Star Trek: The Wrath of Khan (1982)...
Adding sims for Star Wars (1977)...

Adding sims for Stargate (1994)...
Adding sims for Starship Troopers (1997)...
Adding sims for Steel (1997)...
Adding sims for Sting, The (1973)...
Adding sims for Strange Days (1995)...
Adding sims for Striptease (1996)...
Adding sims for Supercop (1992)...
Adding sims for Swingers (1996)...
Adding sims for Taxi Driver (1976)...
Adding sims for Terminator 2: Judgment Day (1991)...
Adding sims for Terminator, The (1984)...
Adding sims for Theodore Rex (1995)...
Adding sims for This Is Spinal Tap (1984)...
Adding sims for Three Colors: Blue (1993)...
Adding sims for Three Colors: Red (1994)...
Adding sims for Three Colors: White (1994)...
Adding sims for To Wong Foo, Thanks for Everything! Julie Newmar (1995)...
Adding sims for Top Gun (1986)...
Adding sims for Toy Story (1995)...
Adding sims for True Romance (1993)...
Adding sims for Truth About Cats & Dogs, The (1996)...
Adding sims for Turbo: A Power Rangers Movie (1997)...
Adding sims for Twelve Monkeys (1995)...
Adding sims for Twister (1996)...
Adding sims for Unbearable Lightness of Being, The (1988)...
Adding sims for Under Siege (1992)...
Adding sims for Unforgiven (1992)...
Adding sims for Unhook the Stars (1996)...
Adding sims for Usual Suspects, The (1995)...
Adding sims for Wallace & Gromit: The Best of Aardman Animation (1996)...
Adding sims for Weekend at Bernie's (1989)...
Adding sims for Welcome to the Dollhouse (1995)...
Adding sims for What's Eating Gilbert Grape (1993)...
Adding sims for When Harry Met Sally... (1989)...
Adding sims for When the Cats Away (Chacun cherche son chat) (1996)...
Adding sims for While You Were Sleeping (1995)...
Adding sims for White Balloon, The (1995)...
Adding sims for Willy Wonka and the Chocolate Factory (1971)...
Adding sims for Wizard of Oz, The (1939)...
Adding sims for Wrong Trousers, The (1993)...
Adding sims for Young Frankenstein (1974)...
Adding sims for Young Guns (1988)...
Adding sims for unknown...
sorting...
Young Frankenstein (1974)                 5.0
Monty Python and the Holy Grail (1974)    5.0
Mars Attacks! (1996)                      5.0
Lone Star (1996)                          5.0
Kolya (1996)                              5.0
Jurassic Park (1993)                      5.0
Hudsucker Proxy, The (1994)               5.0
Hoop Dreams (1994)                        5.0
Henry V (1989)                            5.0
Groundhog Day (1993)                      5.0
dtype: float64

In [79]:
simCandidates = simCandidates.groupby(simCandidates.index).sum()

In [80]:
simCandidates.sort_values(inplace = True, ascending = False)
simCandidates.head(10)

Raiders of the Lost Ark (1981)               115.630218
Back to the Future (1985)                    113.927926
Indiana Jones and the Last Crusade (1989)    100.752361
Fugitive, The (1993)                          96.951700
Return of the Jedi (1983)                     96.098239
Star Wars (1977)                              95.885584
Empire Strikes Back, The (1980)               93.639628
Toy Story (1995)                              91.288603
Terminator 2: Judgment Day (1991)             90.631513
Independence Day (ID4) (1996)                 87.497565
dtype: float64

In [81]:
###filteredSims = simCandidates.drop(myRatings.index,index=1)

In [82]:
myRatings.head()

title
101 Dalmatians (1996)                  2.0
12 Angry Men (1957)                    5.0
20,000 Leagues Under the Sea (1954)    3.0
2001: A Space Odyssey (1968)           4.0
Abyss, The (1989)                      3.0
Name: 1, dtype: float64

In [83]:
simCandidates.head()

Raiders of the Lost Ark (1981)               115.630218
Back to the Future (1985)                    113.927926
Indiana Jones and the Last Crusade (1989)    100.752361
Fugitive, The (1993)                          96.951700
Return of the Jedi (1983)                     96.098239
dtype: float64

In [88]:
###simCandidates.drop(myRatings.index,axis=0)
##myRatings.index
simCandidates.drop()

Raiders of the Lost Ark (1981)               115.630218
Back to the Future (1985)                    113.927926
Indiana Jones and the Last Crusade (1989)    100.752361
Fugitive, The (1993)                          96.951700
Return of the Jedi (1983)                     96.098239
Star Wars (1977)                              95.885584
Empire Strikes Back, The (1980)               93.639628
Toy Story (1995)                              91.288603
Terminator 2: Judgment Day (1991)             90.631513
Independence Day (ID4) (1996)                 87.497565
Braveheart (1995)                             85.855090
Jurassic Park (1993)                          85.551288
Terminator, The (1984)                        84.790625
Aliens (1986)                                 83.612414
E.T. the Extra-Terrestrial (1982)             81.664953
Speed (1994)                                  79.265119
Fargo (1996)                                  78.296356
Top Gun (1986)                                77.713896
True Lies (1994)                              76.958792
Rock, The (1996)                              76.894392
Twelve Monkeys (1995)                         76.200077
Star Trek: The Wrath of Khan (1982)           75.732954
Field of Dreams (1989)                        75.675618
Groundhog Day (1993)                          75.283511
Silence of the Lambs, The (1991)              74.994278
Mission: Impossible (1996)                    74.646305
Jaws (1975)                                   73.604101
Forrest Gump (1994)                           72.720494
Sleepless in Seattle (1993)                   72.443338
When Harry Met Sally... (1989)                72.359317
                                                ...
James and the Giant Peach (1996)               2.226316
Nightmare on Elm Street, A (1984)              2.146004
101 Dalmatians (1996)                          2.000000
Mimic (1997)                                   2.000000
Bonnie and Clyde (1967)                        1.854268
G.I. Jane (1997)                               1.675383
Being There (1979)                             1.589402
Magnificent Seven, The (1954)                  1.477482
Michael (1996)                                 1.473661
My Fair Lady (1964)                            1.412010
Boogie Nights (1997)                           1.354226
Event Horizon (1997)                           1.291849
Apt Pupil (1998)                               1.220151
Rainmaker, The (1997)                          1.095795
Jungle2Jungle (1997)                           1.000000
Ulee's Gold (1997)                             0.902267
Devil's Advocate, The (1997)                   0.742352
Fly Away Home (1996)                           0.715286
Conan the Barbarian (1981)                     0.647579
Peacemaker, The (1997)                         0.579479
Everyone Says I Love You (1996)                0.573683
Crying Game, The (1992)                        0.411457
Kiss the Girls (1997)                          0.403637
Mother (1996)                                  0.389622
Cop Land (1997)                                0.348424
George of the Jungle (1997)                    0.337180
Spawn (1997)                                   0.307230
Seven Years in Tibet (1997)                    0.179323
Killing Fields, The (1984)                     0.043934
Wag the Dog (1997)                            -0.174735
Length: 305, dtype: float64